@using BusinessObject
@{
    ViewData["Title"] = "Index";
    string role = (string)TempData["Role"];
}

<h1>Login</h1>
<form asp-controller="Login" asp-action="Login" method="POST">
    Username:
    <input id="UserName" name="userName" value="" type="text" /><br />
    Password:
    <input id="Password" name="password" value="" type="password" /><br />
    <input type="submit" name="action" value="Login" class="btn btn-primary" />
    @{
        if (role != null && !role.Equals("ADMIN"))
        {
            <p style="color: red;">Login failed!</p>
        }
    }
</form>