@using BusinessObject.DTO
@using eStore.Constant
@using eStore.Utils
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Index";
    LoginUser loginUser = SessionHelper.GetObjectFromJson<LoginUser>(HttpContextAccessor.HttpContext.Session, "LOGIN_USER");
}


<h1>Login</h1>
<form asp-controller="Login" asp-action="Login" method="POST">
    Username:
    <input id="UserName" name="userName" value="" type="text" /><br />
    Password:
    <input id="Password" name="password" value="" type="password" /><br />
    <input type="submit" name="action" value="Login" class="btn btn-primary" />
    @{
        if (loginUser != null && loginUser.Role == Role.UNAUTHENTICATED)
        {
            <p style="color: red;">Login failed!</p>
        }
    }
</form>